<div class="container">
    <div class="contentTitle">
        <h1>Servicios</h1>
    </div>
    <div class="contentTable">
    <table>
        <thead>
            <tr>
                <th>Descripcion</th>
                <th>Precio</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody > 
            <tr *ngFor="let data of listServicios" >
                <td>{{data.descripcion}}</td>
                <td>{{data.precio}}</td>
                <td>{{data.estado}}</td>            
                <td class="tdBtn">
                    <button class="editar" (click)="openModal(data.id)" >Editar</button>
                    <button class="eliminar" >Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
    </div>
</div>