<div class="container">
  <h1>Ingrese datos de la cita</h1>
  <form [formGroup]="createFormCita">
    <div class="content">
      <label for="fecha">Cliente:</label>
      <div class="selectClientes">
        <select
          class="form-control"
          name="cliente"
          id="cliente"
          formControlName="idCliente"
          (change)="obtenerServicios()"
        >
          <option *ngFor="let clientes of listCliente" [value]="clientes.id">
            {{ clientes.nombres }} {{ clientes.apellidos }}
          </option>
        </select>
      </div>
      <div class="selectServicios">
        <label for="fecha">Servicio:</label>
        <select
          class="form-control"
          name="cliente"
          id="cliente"
          formControlName="idServicio"
        >
          <option
            *ngFor="let servicios of listServicios"
            [value]="servicios.id"
          >
            {{ servicios.descripcion }} Q.{{ servicios.precio }}
          </option>
        </select>
      </div>
    </div>
    <div class="fecha">
      <label for="fecha">Fecha:</label>
      <input type="date" id="fecha" name="fecha" formControlName="fecha" />
    </div>

    <div class="hora">
      <label for="fecha">Hora:</label>
      <input type="time" id="hora" name="hora" formControlName="hora" />
    </div>
    <div class="content">
      <button (click)="createCita()">Registrar</button>
    </div>
  </form>
</div>
